body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 50px;
    background: rgb(104, 104, 238);
}

img {
    width: 400px;
    border-radius: 50%;
}

.caixa1{
    font-size: 30px;
}

.caixa2{
    font-size: 30px;
    background-color: rgb(150, 150, 241);
}

.caixa3{
    font-size: 30px;
    background-color: rgb(150, 150, 241);
}

h1{
    color: rgb(22, 224, 214);
}

